<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>{% if title %} {{ title }} | {% endif %} {{ site.title }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "partials/_head.njk" %}
</head>

<body>
    <a href="#main" class="skip-link">Skip to main content</a>
    {% include "partials/_header.njk" %}
    <main id="main" role="main">
        {% if feature_photo %}
        <div class="feature-photo container container--large">
            <img src="{{ feature_photo }}" alt="{{ feature_photo_alt }}" />
        </div>
        {% endif %}
        {% block content %}
        {{ content | safe }}
        {% endblock %}
    </main>
        
    {% include "partials/_footer.njk" %}
</body>
</html>