<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>{% if title %} {{ title }} | {% endif %} {{ site.title }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet"> 
    <link type="text/css" rel="stylesheet" href="/css/style.css?1576381864" />

    <meta name="description" content="{{ description }}">
    <link rel="canonical" href="{{ site.baseurl }}{{ page.url }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ site.root }}{{ feature_photo }}">
    <meta property="og:url" content="{{ site.root }}{{ page.url }}">
    <meta name="twitter:card" content="summary_large_image">
    {% if site.env == "prod" %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4393449-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-4393449-1');
        </script>
    {% endif %}
</head>

<body>
    <a href="#main" class="skip-link">Skip to main content</a>
    <header class="header container container--large" role="banner">
        <p class="site-title">
            <a class="site-title-link" href="/">
                <span class="site-title__name">nate garrett</span>
            </a>
        </p>

        <nav class="main-menu">
            <ul class="main-menu__items">
                <li class="main-menu__item">
                    <a href="/about/" class="main-menu__link" {% if page.url == '/about/' %} aria-current="true"{% endif %}>about</a>
                </li>
                <li class="main-menu__item">
                    <a href="/portfolio/" class="main-menu__link" {% if page.url == '/portfolio/' %} aria-current="true"{% endif %}>portfolio</a>
                </li>    
            </ul>
        </nav>
    </header>
    <main id="main" role="main">
        {% if feature_photo %}
        <div class="feature-photo container container--large">
            <img src="{{ feature_photo }}" alt="{{ feature_photo_alt }}" />
        </div>
        {% endif %}
        {% block content %}
        {{ content | safe }}
        {% endblock %}
    </main>
        
    <footer id="footer" role="contentinfo" class="footer">
        <div class="container container--large footer__body">
            <ul class="footer-links">
                <li class="footer-links__item"><a href="https://twitter.com/n8garrett">Twitter</a></li>
                <li class="footer-links__item"><a href="https://www.linkedin.com/in/nategarrett">Linked In</a></li>
                <li class="footer-links__item"><a href="https://github.com/n8garrett">Github</a></li>
            </ul>
            <p class="copyright">Copyright &copy; 2020 Nate Garrett</p>
        </div>
    </footer>
</body>
</html>