<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>{% if title %} {{ title }} | {% endif %} {{ site.title }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "partials/_head.njk" %}
</head>

<body>
    <a href="#main" class="skip-link">Skip to main content</a>
    {% include "partials/_header.njk" %}
    <main id="main" role="main">
        <div class="page-header container container--large">
            <h1 class="page-header__headline">{{ title }}</h1>
            <p class="page-header__summary">{{ description }}</p>
        </div>
        <div class="container container--large">
            {{ content | safe }}
        </div>
    </main>
        
    {% include "partials/_footer.njk" %}
</body>
</html>