.action {
    display: inline-flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
  }
  
  .action__icon {
      margin-top: $xxs;
  }