.footer {
    padding-top: $md;

    @media only screen and (min-width: 768px) {

        &__body {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.footer-links {
    list-style: none;
    display: flex;
    padding-left: 0;

    &__item {
        padding: 0 1rem 0 0;
        line-height: 1;
        font-size: $ts-16;

        & a {
            color: $color-black;
        }
      }
  }

  .copyright {
      font-size: $ts-16;
  }