.project {
    background: #F2F2F2;
    padding: $xl;
    margin-bottom: $xxl;
    
    &__content {
        margin-bottom: $md;
    }
}

@media screen and (min-width: 768px) {
    .project__content {
        display: flex;

        &__title {
            flex-basis: 33%;
        }
    
        &__description {
            flex-basis: 67%;
        }
    }
}

.tags {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.tag:not(:last-child) {
    margin-right: $sm;
}

.tag {
    padding: $xxs $xs;
    font-size: $ts-14;
    background: $color-navy;
    color: $color-white;
    border-radius: 10px;
}

.eyebrow {
    margin: 0;
    color: $color-orange;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: $ts-16;
}

.project__title {
    font-size: $ts-26;
    margin-bottom: $sm;
}