---
title: Portfolio
description: Portfolio of web development projects.
change_freq: monthly
container_size: large
---
{% extends "layout.njk" %}


{% block content %}
<div class="container container--large">
    <h1>Portfolio</h1>
</div>

{% for p in projects %}
    <div class="section">
        <div class="container container--large">
            <div class="grid halves">
                <div class="grid__item">
                    <img src="/img/{{ p.img }}" alt="{{ p.title }}" class="project__photo" />
                </div>

                <div class="grid__item">
                    <p class="eyebrow">{{ p.project_type }}</p>
                    <p class="project__title">{{ p.title }}</p>
                    <p class="project__description">{{ p.description }}</p>
                    
                    {% if p.url != "" %}
                        <p><a href="{{ p.url }}" class="action">
                            <span class="action__text">View project</span>
                            <span class="action__icon action__icon--right">
                                <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 20 20" width="20">
                                    <path d="M10.996 5.419c0.502 0.49 5.402 5.634 5.402 5.634 0.268 0.263 0.402 0.605 0.402 0.947s-0.134 0.684-0.402 0.944c0 0-4.901 5.147-5.402 5.634-0.502 0.49-1.404 0.523-1.938 0-0.535-0.521-0.577-1.249 0-1.889l4.496-4.69-4.496-4.69c-0.577-0.64-0.535-1.369 0-1.891 0.534-0.523 1.436-0.491 1.938 0z" fill="currentColor"></path>
                                </svg>
                            </span>
                        </a></p>
                    {% endif %}
                    
                    <ul class="tags">
                        {% for tag in p.tags %}
                            <li class="tag">{{ tag }}</li>
                        {% endfor %}
                    </ul>    
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}