<link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet"> 
<link type="text/css" rel="stylesheet" href="/css/style.css?20210116" />

<meta name="description" content="{{ description }}">
<link rel="canonical" href="{{ site.baseurl }}{{ page.url }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="{{ site.root }}{{ feature_photo }}">
<meta property="og:url" content="{{ site.root }}{{ page.url }}">
<meta name="twitter:card" content="summary_large_image">
{% if site.env == "prod" %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4393449-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-4393449-1');
    </script>
{% endif %}